---
import MainLayout from "@/layouts/MainLayout.astro";
import AppProfileCard from "@/components/AppProfileCard.astro";
---

<MainLayout title="Frontend Mentor | Profile Card Component">
  <div class="flex min-h-screen justify-center">
    <AppProfileCard name="Victor Crest" age="26" location="London" />
  </div>
</MainLayout>
